{% extends "home.html" %} 

{% block title %}
  <h1>Welcome to the CLICK </h1>
{% endblock %}

{% block content %}
    <img src = "../static/click.png">
    <div class = "row">
      <div class = "inventoryBlock">
          <p><div id = "header">INVENTORY</div></p>
          <div id = "totals">
            <ul>
              <li>Total Items: <b>{{inventoryTotal}}</b></li>
              <li>Total Low Status: <b>{{lowCount}}</b></li>
              <li>Total High Status: <b>{{highCount}}</b></li><br>
            </ul>
            <p><b>Low Status Items:</b></p>
            <ul>
              <li>{{lowList}}</li>
            </ul>
          
          </div>
          
      </div>
      <div class = "donationsBlock">
          <p><div id = "header">DONATIONS/DONORS</div></p>
          <div id = "totals">
            <ul>
              <li>Total Donations: <b>{{donationTotal}}</b></li>
              <li>Total Donors: <b>{{donorTotal}}</b></li>
            </ul>
            <p><b><br></br> Past Week Donations:</b></p>
            <ul>
              <li>{{lastWeekDonations}}</li>
            </ul>
            
          </div>
          </div>
      </div>
      
      <div class = "expendituresBlock">
          <p><div id = "header">EXPENDITURES</div></p>
          <div id = "totals">
            <ul>
              <li>Total Expenses: <b>{{expenditureTotal}}</b></li>
            </ul>
          </div>
            <p><b><br></br> Most Expenditures:</b></p>
            <p>{{mostSpent}}</p>
            <p><b> Least Expenditures:</b></p>
            <p>{{leastSpent}}</p>
      </div>
    </div>
    
    
    <div id='login'>
      <form id="loginform" action="{{url_for('redirectToLogin')}}" method="post">
      <p><button type="submit">Login/Register</button></p>
      </form>
      <form id="logout" action="{{url_for('logout')}}" method="post">
      <p><button type="submit">Logout</button></p>
      </form>
    </div>
    
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>  
    
{% endblock %}