{% extends "home.html" %}
<head>
    <meta charset = 'utf-8'>
    <meta name= author content= "Gabby Liu"
    <title>Login Page</title>
    {% block head %}
    {{ super() }}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<h1>Login/Register</h1> 


<p>Please login or register, using one of the forms below:</p>

    <form id="loginform" action="{{url_for('login')}}" method="post">
        <h2 align="center">Login</h2>
        <!--the pattern part in the code below ensures that the input needs to be something@something.domain-->
        <p><label>Username: <input type="text" name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></label></p>
        <p><label>Password: <input type="password" name="password" required></label></p>
        <p><button type="submit">Submit</button></p>
    </form>

    <form id="registerform" action="{{url_for('register')}}" method="post">
        <h2 align="center">Join</h2>
        <p><label>  Username: <input type="text" name="username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></label></p>
        <p><label> Password: <input type="password" name="password1" required></label></p>
        <p><label> Confirm Password: <input type="password" name="password2" required></label></p>
        <p><button type="submit">Submit</button></p>
    </form>
    

</body>
</html>


<script>
/*global $*/
$("#registerform").on('submit', function (event) {
     var password1 = $(this).find('[name=password1]').val();
     var password2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
     if( password1 != password2 ) {
         // if password don't match, should alert the user using a popup box
         alert("Your passwords don't match.Please retype your passwords.");
     }
});
</script>
