<!--CS 304 Project
Dana -->
{% extends "home.html" %}

{%block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
<h1>Your Profile</h1>

<p>Name: {{name}}</p>

<p>Email: {{email}}</p>
 
 <!--list skills, each with a remove button -->      
<form method="post" action="">
    {% for skill in skills %}
         <p>
          <label for="skill"}>{{skill.skill}}</label>
          <input id="skill" name="skill" type="text" value="{{skill.skill}}">
          <input id="skill" class="submit" name="submit" type="submit" value="Remove"></p>
    {% endfor %}
    
    <p>
        <input id="newSkill" name="newSkill" type="text">
        <input class="submit" name="submit" type="submit" value="Add skill">
    </p>
</form>

{% endblock %}